
body {
    background-color: #e5e7eb;
    color: #334155;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    font-size: larger;
    color: black;
}
img {
    max-width: 500px;
    height: 500px;
}
.center-section {
    text-align: center;
}

.center-section img {
    display: block;
    margin: 0 auto;
    max-width: 700px;
}
.topline{
    font-weight: bolder;
    text-align: center;
}
h2{
    font-weight: bold;
}
h3{
    font-weight: 700;
}